/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


/* code for animated blinking cursor */
#typed{
	color:black;
	font-size: 40px;
}

.wrap-home{
	padding-top:20%
}

.wrap img{
	width: 200px;
	height:200px;
	 border-radius: 100%;

    background-size: 2px;
    border: 5px solid #0683c9;
}
.typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header{

        position: fixed;
background-color: rgba(255,255,255,1);
width: 100%;
}
#navBar {
    list-style-type: none;
    margin-top: 10px;
}

#navBar span{
color: #FF0FB4
}
#navBar li {
    list-style-type: none;
    display: inline;
    font-size: 30px;
    font-style: italic;
    padding-right: 10px;
}

.yellowBackground {
    background-size: cover;
    background-color: #FEFF49;
}

#homePage {
    height: 100vh;/*
    	background:url("./a morning city.jpeg");
    background-size:cover; */
    text-align: center;
    color: white;
}

#homePage p {
    font-size: 40px;
    color: black;
}

#homePage li {
    list-style: none;
    font-size: 30px;
    padding: 0px 40px 0px 40px;
    display: inline;
    color: black;
}

#homePage h1 {
    text-align: center;
    color: #FFFFFF;
    background-size: 300px;
    font-family: cursive;
    color: black;
}

#picAndName {
    padding-top: 20%;
}

#Jun {
    border-radius: 40%;
    width: 80px;
    height: 80px;
    background-size: 2px;
    border: 2px solid #FF0FB4;
}


.bounce {
  position:fixed;
  left:50%;
  bottom:0;
  margin-top:-20px;
  margin-left:-25px;
  height:30px;
  width:30px;
  background:url(https://www.emojibase.com/resources/img/emojis/hangouts/1f447.png);
  background-size: cover;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}

.skills {
    margin-top: 0px;
}

h2 {
    text-align: center;
    color: black;
    margin-top: 0px;
}

.skills li {
    margin-top: 0px;
    list-style: none;
    font-size: 30px;
    padding: 0px 50px 0px 50px;
    display: inline;
    clear: top;
    color: black;
}

.projects {
    padding-bottom: 40px;
    /*background-image: url('./night mountains.jpeg');*/
    background-size: 100% 100%;
}

.projects h2 {
    color: white;
}

.projects p {
    width: 200px;
    margin-left: 150px;
    margin-top: 30px;
}

#github {
    text-align: center;
    text-decoration: none;
    color: black;
}

img {
    width: 200px;
    height: 130px;
}

.individualProject {
    text-align: center;
}




footer {
    text-align: right;
    color: white;
    background-color: grey;
    height: 60px;
}





html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*http://callmenick.com/post/animated-resizing-header-on-scroll*/
/*this is for the header*/
header {
    width: 100%;
    height: 80px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #0683c9;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}
header h1#logo {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    float: left;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
header nav {
    display: inline-block;
    float: right;
}
header nav a {
    line-height: 80px;
    margin-left: 20px;
    color: #9fdbfc;
    font-weight: 700;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
header nav a:hover {
    color: white;
}
header.smaller {
    height: 60px;
}
header.smaller h1#logo {
    width: 150px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
}
header.smaller nav a {
    line-height: 60px;
}
.mobile-show{
  display: none;
}

@media all and (max-width: 660px) {
  .wrap-home{
  	padding-top:40%
  }
  .mobile-hide{
    display: none;
  }
  .mobile-show{
    display: inline-block;
  }
    header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    header nav {
        display: block;
        float: none;
        height: 50px;
        text-align: center;
        margin: 0 auto;
    }
    header nav a {
        line-height: 50px;
        margin: 0 10px;
    }
    header.smaller {
        height: 75px;
    }
    header.smaller h1#logo {
        height: 40px;
        line-height: 40px;
        font-size: 30px;
    }
    header.smaller nav {
        height: 35px;
    }
    header.smaller nav a {
        line-height: 35px;
    }
}


::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #0683c9;
}

::selection {
    color: #fff;
    background: #0683c9;
}


html: {
    overflow-x: hidden;
}

h1,h2,h3,h4 {
    margin: 0px;
}
